<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewsScrape</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1>Main</h1>
    <li>
    {{this.name}}
    <form action="/change" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <input type="hidden" name="devoured" value="isEaten">
        <input type="submit" value="X">
    </form>
</li>

    <!--{{{body}}}-->

</body>

</html>